* {
  margin: 0;
  padding: 0;
}

.header_block, .logo_and_nav, .nav_ul, img, ul.nav_ul li {
  background-color: #363d42;
}

.header_block {
  height: 50px;
}

.header_block .logo_and_nav {
  padding-top: 5px;
  width: 50vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.header_block .logo_and_nav img {
  padding-top: 3px;
  width: 30px;
  height: 30px;
}

.header_block .logo_and_nav ul.nav_ul li {
  list-style-type: none;
  display: inline;
  margin-left: 20px;
}

.header_block .logo_and_nav ul.nav_ul a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  background-color: #363d42;
}

.header_block .logo_and_nav ul.nav_ul a:hover {
  color: silver;
  border-top: 2px solid #fff;
}

.main_block {
  height: 85.8vh;
  display: grid;
  grid-template-areas: "null1 main null2";
  grid-template-columns: 10% 1fr 10%;
}

.main_block .null1 {
  grid-area: null1;
}

.main_block .null2 {
  grid-area: null2;
}

.main_block .main {
  grid-area: main;
  display: grid;
  grid-template-areas: "main_text" "main_main" "main_btn";
  grid-template-rows: 4% 1fr 10%;
}

.main_block .main .main_text {
  grid-area: main_text;
}

.main_block .main .main_text .main_text_text {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-family: oswald_bold;
}

.main_block .main .main_main {
  grid-area: main_main;
  display: grid;
  grid-template-areas: "mmg mmt";
  grid-template-columns: 30% 70%;
}

.main_block .main .main_main .main_main_img {
  grid-area: mmg;
  background: url("../img/metro.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 18px;
}

.main_block .main .main_main .main_main_text {
  grid-area: mmt;
}

.main_block .main .main_main .main_main_text .main_main_main_text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: opensans_regular;
  font-size: 17px;
  letter-spacing: 0.8px;
  padding-top: 15%;
}

.main_block .main .main_main .main_main_text .main_main_main_text h1 {
  background: linear-gradient(45deg, #fff, #C5DDE8);
  font-family: opensans_bold;
}

.main_block .main .main_main .main_main_text .main_main_main_text .idiot {
  text-decoration: line-through;
}

.main_block .main .main_main .main_main_text .main_main_main_text .p3 {
  background: linear-gradient(45deg, #fff, #C5DDE8);
}

.main_block .main .main_main .main_main_text .main_main_main_text h3 {
  font-size: 15px;
}

.main_block .main .main_btn {
  grid-area: main_btn;
  display: grid;
  grid-template-areas: "btn1 btn2";
}

.main_block .main .main_btn button {
  width: 80%;
  border: none;
  background-color: #9bc590;
  font-size: 21px;
  font-family: opensans_bold;
  padding: 4px;
  border-radius: 4px;
}

.main_block .main .main_btn button:hover {
  background-color: #9bc542;
}

.footer_block {
  height: 5vh;
  background-color: #363d42;
  margin-top: 8px;
}

.reg_block {
  position: fixed;
  top: 32%;
  left: -68%;
  background-color: #000;
  opacity: 0.9;
  color: #fff;
  width: 30%;
  height: 30%;
  z-index: 1000;
  border-radius: 13px;
}

.reg_block .reg_b1 {
  background-color: #000;
  border-radius: 13px;
}

.reg_block .reg_b1 img {
  height: 25px;
  width: 25px;
  border-radius: 15px;
  margin-top: 4px;
  margin-left: 4px;
}

.reg_block .reg_b2 {
  text-align: center;
  background-color: grey;
  font-family: opensans_bold;
  font-size: 30px;
}

.reg_block .reg_b3 {
  text-align: center;
  background-color: #000;
}

.reg_block .reg_b3 button {
  border: none;
  background-color: #9bc590;
  font-size: 16px;
  font-family: opensans_bold;
  width: 150px;
  padding: 4px;
  border-radius: 4px;
}

.reg_block .reg_b3 button:hover {
  background-color: #9bc542;
}

.login_block {
  position: fixed;
  top: 32%;
  left: -68%;
  background-color: #000;
  opacity: 0.8;
  color: #fff;
  width: 30%;
  height: 30%;
  z-index: 1000;
}

.login_block .login_b1 {
  background-color: #000;
  border-radius: 13px;
}

.login_block .login_b1 img {
  height: 25px;
  width: 25px;
  border-radius: 15px;
  margin-top: 4px;
  margin-left: 4px;
}

.login_block .login_b2 {
  text-align: center;
  background-color: grey;
  font-family: opensans_bold;
  font-size: 30px;
}

.login_block .login_b3 {
  text-align: center;
  background-color: #000;
}

.login_block .login_b3 button {
  border: none;
  background-color: #9bc590;
  font-size: 16px;
  font-family: opensans_bold;
  width: 100px;
  padding: 4px;
  border-radius: 4px;
}

.login_block .login_b3 button:hover {
  background-color: #9bc542;
}
