* {
  margin: 0;
  padding: 0;
}

.index_div {
  background-image: url("../img/bck.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 10% 1fr 5%;
}

.index_div .header_block {
  grid-area: header;
  border-bottom: 1.4px solid silver;
  background: white;
}

.index_div .header_block .header_text {
  width: 400px;
  padding-top: 1.5%;
  margin-left: auto;
}

.index_div .header_block .header_text li {
  margin-left: 30px;
  display: inline;
  font-family: opensans_regular;
  font-size: 18px;
}

.index_div .header_block .header_text li a {
  color: #000;
  text-decoration: none;
}

.index_div .header_block .header_text li a:hover {
  text-decoration: underline;
}

.index_div .main_block {
  width: 90%;
  margin-right: auto;
  grid-area: main;
  display: grid;
  grid-template-areas: "main_text main_img";
  grid-template-columns: 65% 35%;
}

.index_div .main_block .main_img {
  grid-area: main_img;
  background-image: url("../img/metro_header.png");
  background-position: 70% 68%;
  background-repeat: no-repeat;
  background-size: 140%;
}

.index_div .main_block .main_text {
  grid-area: main_text;
}

.index_div .main_block .main_text .main_text_text {
  position: relative;
  height: 50%;
}

.index_div .main_block .main_text .main_text_text .main_text_text_header {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 10px;
}

.index_div .main_block .main_text .main_text_text .main_text_text_header p {
  color: #fff;
  font-family: opensans_bold;
  font-size: 40px;
}

.index_div .main_block .main_text .main_text_text .main_text_text_text {
  position: absolute;
  top: 70%;
  width: 60%;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: opensans_bold;
}

.index_div .main_block .main_text .main_text_text .main_text_text_text p {
  font-family: opensans_regular;
}

.index_div .main_block .main_text .main_btn {
  height: 50%;
}

.index_div .main_block .main_text .main_btn form {
  margin-top: 2%;
}

.index_div .main_block .main_text .main_btn .reg_btn {
  margin-left: 3%;
}

.index_div .main_block .main_text .main_btn .reg_btn button {
  background-color: #fff;
  border: none;
  width: 25%;
  height: 45px;
  font-family: opensans_regular;
  color: #000;
  font-size: 20px;
  border: 1.4px solid #000;
}

.index_div .main_block .main_text .main_btn .reg_btn button:hover {
  background-color: #000;
  border: none;
  font-family: opensans_regular;
  color: #fff;
  cursor: pointer;
}

.index_div .main_block .main_text .main_btn .login_btn button {
  background-color: #000;
  border: none;
  width: 25%;
  height: 45px;
  font-family: opensans_regular;
  color: #fff;
  font-size: 20px;
}

.index_div .main_block .main_text .main_btn .login_btn button:hover {
  border: 1.4px solid silver;
  cursor: pointer;
}

.index_div .footer_block {
  grid-area: footer;
  background: white;
  border-top: 1.4px solid silver;
  font-family: opensans_bold;
}
