$bor1: 1px solid #000

*
	margin: 0
	padding: 0

.main_text_text, .header_text, .main_btn, .main_text_text, .main_text, .main_img, .index_div, .header_block, .main_block, .footer_block
	

.index_div
	width: 100%
	height: 100vh

	display: grid
	grid-template-areas: "header" "main" "footer"
	grid-template-rows: 10% 1fr 5%

	.header_block
		grid-area: header
		border-bottom: 1.4px solid silver
		background: rgba(255, 255, 255, 1)
		
		.header_text
			width: 400px
			padding-top: 1.5%
			margin-left: auto

			li
				margin-left: 30px
				display: inline
				font-family: opensans_regular
				font-size: 18px

				a
					color: #000
					text-decoration: none

				a:hover
					text-decoration: underline

	.main_block
		width: 80%
		margin-left: auto
		margin-right: auto

		grid-area: main

		display: grid
		grid-template-areas: "main_img main_text"
		grid-template-columns: 40% 60%

		.main_img
			grid-area: main_img

			background-image: url('../img/metro_header.png')
			background-position: 70% 68%
			background-repeat: no-repeat
			background-size: 140%

		.main_text
			grid-area: main_text

			.main_text_text
				height: 70%

				.main_text_text_header
					width: 90%
					height: 10%
					margin-left: auto
					margin-right: auto
					margin-top: 3%

					border: 1.3px solid silver
					border-radius: 3px 3px 0 0

					background-color: #f7f7f7

					p
						font-family: opensans_bold						
						text-align: center
						font-size: 30px

				.main_text_text_text
					width: 90%
					height: 80%
					margin-left: auto
					margin-right: auto
					margin-bottom: 3%

					border-bottom: 1.3px solid silver
					border-left: 1.3px solid silver
					border-right: 1.3px solid silver
					border-radius: 0 0 3px 3px

					p
						padding: 18px
						font-family: opensans_regular


			.main_btn
				height: 30%

				.reg_btn

					button
						margin-left: 9%
						margin-top: 8%

						background-color: #fff
						border: none
						width: 40%
						height: 30%

						border-radius: 5px
						font-family: opensans_regular
						color: #007cff
						font-size: 20px

						border: 1.3px solid #007cff

				.login_btn

					button
						background-color: #007cff
						border: none
						width: 40%
						height: 30%

						border-radius: 5px
						font-family: opensans_regular
						color: #fff
						font-size: 20px

	.footer_block
		grid-area: footer

		background: rgba(255, 255, 255, 1)
		
		border-top: 1.4px solid silver
		font-family: opensans_bold


