$bor1: 1px solid #000


*
	margin: 0
	padding: 0

.main_text_text_header, .main_text_text_text, .main_text_text, .header_text, .main_btn, .main_text_text, .main_text, .main_img, .index_div, .header_block, .main_block, .footer_block
	
.gl_block

	.gl_header

		.gl_header_text

			


.index_div
	background-image: url('../img/bck.jpg')
	background-size: cover

	width: 100%
	height: 100vh

	display: grid
	grid-template-areas: "header" "main" "footer"
	grid-template-rows: 10% 1fr 5%

	.header_block
		grid-area: header
		border-bottom: 1.4px solid #000
		background: rgba(255, 255, 255, 1)
		
		.header_text
			position: relative
			margin-top: 2%
			width: 100%
			text-align: right

			.menushka
				position: absolute
				top: 25px
				right: 0
				width: 100%
				height: auto
				background-color: #f7f7f7
				text-align: right
				opacity: 0.9
				z-index: 1000
				border-bottom: 1.4px solid silver
			
				ul

					li
						font-family: roboto_bold
						display: block
						font-size: calc(1vw*6)
						width: 100%

						a

				.men
					border-top: 1.4px solid silver
					border-right: 1.4px solid silver
					border-left: 1.4px solid silver

				.men:hover
					background-color: #000
					color: #fff
					cursor: pointer
				
				.men1, .men2
					font-family: roboto_bold
					font-size: 17px


			li
				margin-right: 30px
				display: inline
				font-family: roboto_bold
				font-size: 17px

				a
					color: #000
					text-decoration: none

				a:hover
					text-decoration: underline

	.main_block
		width: 100%
		margin-right: auto

		grid-area: main

		display: grid
		grid-template-areas: "main_text main_img"
		grid-template-columns: 65% 35%
		grid-template-rows: 100%

		.main_img
			grid-area: main_img

			background-image: url('../img/metro_header2.jpg')
			background-position: 32% 20%
			background-repeat: no-repeat
			background-size: cover

		.main_text
			grid-area: main_text

			.main_text_text
				position: relative
				height: 50%

				.main_text_text_header
					position: absolute
					top: 50%
					width: 100%
					padding-left: 20px

					p
						color: #fff
						font-family: roboto_bold
						font-size: 40px

				.main_text_text_text
					position: absolute
					top: 70%
					width: 100%
					padding-left: 20px
					padding-top: 10px

					text-align: left
					
					font-size: 17px
					color: #fff
					font-family: opensans_bold

					p
						font-family: opensans_regular


			.main_btn
				height: 50%

				.reg_btn
					margin-left: 3%

					button
						margin-top: 10px
						background-color: #fff
						border: none
						width: 25%
						height: 45px

						font-family: opensans_regular
						color: #000
						font-size: 20px

						border: 1.4px solid #000

					button:hover
						background-color: #000
						border: none

						font-family: opensans_regular
						color: #fff

						cursor: pointer

				.login_btn

					button
						background-color: #000
						border: none
						width: 25%
						height: 45px
						font-family: opensans_regular
						color: #fff
						font-size: 20px

					button:hover
						border: 1.4px solid silver
						cursor: pointer


	.footer_block
		grid-area: footer

		background: rgba(255, 255, 255, 1)
		
		border-top: 1.4px solid silver
		font-family: opensans_bold

		


	.forma
		background: rgba(0,0,0,0.9)
		position: fixed
		width: 100%
		height: 100vh
		color: #fff

		.form_block
			position: relative
			background-color: #f7f7f7
			margin-top: 30vh
			margin-left: auto
			margin-right: auto
			color: #252a2d

			width: 320px
			border: 1.4px solid #000
			border-radius: 10px

			.p_input
				font-family: opensans_bold
				text-align: center
				padding-top: 5%

			.reg_input
				margin-top: 20px
				margin-left: 9%
				height: 35px
				width: 80%
				border-top: 1.3px solid #000
				border-left: 1.3px solid #000
				border-right: 1.3px solid #000
				border-radius: 5px 5px 0 0
				text-indent: 10px

			.login_input
				margin-left: 9%
				height: 35px
				width: 80%
				border: 1.3px solid #000
				border-radius: 0 0 5px 5px
				margin-bottom: 28px
				text-indent: 10px

			.btn_input
				width: 80%
				height: 40px
				margin-left: 9%
				border-radius: 3px
				background-color: #000
				margin-bottom: 25px
				border: none
				color: #fff
				font-family: opensans_bold
				font-size: 15px

			.span_close
				cursor: pointer

	.forma2
		background: rgba(0,0,0,0.9)
		position: fixed
		width: 100%
		height: 100vh
		color: #fff

		.reg_block
			position: relative
			background-color: #f7f7f7
			margin-top: 30vh
			margin-left: auto
			margin-right: auto
			color: #252a2d

			width: 320px
			border: 1.4px solid #000
			border-radius: 10px

			.reg_p
				font-family: opensans_bold
				text-align: center
				padding-top: 5%

			.reg_close
				cursor: pointer

			.rega_email
				margin-top: 20px
				margin-left: 9%
				height: 35px
				width: 80%
				border-top: 1.3px solid #000
				border-left: 1.3px solid #000
				border-right: 1.3px solid #000
				border-radius: 5px 5px 0 0
				text-indent: 10px

			.rega_pwd
				margin-left: 9%
				height: 35px
				width: 80%
				border: 1.3px solid #000
				border-radius: 0 0 5px 5px
				margin-bottom: 28px
				text-indent: 10px

			.rega_btn
				width: 80%
				height: 40px
				margin-left: 9%
				border-radius: 3px
				background-color: #000
				margin-bottom: 25px
				border: none
				color: #fff
				font-family: opensans_bold
				font-size: 15px

/* AUTH BLOCK _______________ */

.auth_block
	background-color: #fff
	margin-top: 30vh
	margin-left: auto
	margin-right: auto
	color: #252a2d

	width: 320px
	height: 200px

	.headerb
		border: 1.4px solid silver
		border-radius: 4px 4px 0 0
		font-family: opensans_bold
		text-align: center
		background-color: #f7f7f7
		font-size: 30px
		padding: 8px

	.textb
		border-bottom: 1.4px solid silver
		border-right: 1.4px solid silver
		border-left: 1.4px solid silver
		border-radius: 0 0 4px 4px
		text-align: center
		padding: 6px
		font-family: opensans_regular


/* MAIN BLOCK ______________ */

.gl_block, .gl_header, .gl_main, .gl_footer
	

.gl_block
	width: 100%
	height: 100vh
	display: grid
	grid-template-areas: "glheader" "glmain";
	grid-template-rows: 10% 90% 
	grid-template-columns: 100%

	.gl_header
		grid-area: glheader
		border-bottom: 1.4px solid silver
		box-shadow: 0px 2px 10px -5px #000000
		z-index: 100

		.gl_header_text
			display: absolute
			margin-top: 2%
			width: 100%
			text-align: right
		
			.menushka
				position: absolute
				top: 25px
				right: 0
				width: 100%
				height: auto
				background-color: #f7f7f7
				text-align: right
				opacity: 0.9
				z-index: 1000
				border-bottom: 1.4px solid silver
				
				ul

					li
						font-family: roboto_bold
						display: block
						font-size: calc(1vw*5)
						width: 100%

						a


				.men
					border-top: 1.4px solid silver
					border-right: 1.4px solid silver
					border-left: 1.4px solid silver

				.men:hover
					background-color: #000
					cursor: pointer
				
				.men1, .men2
					font-family: roboto_bold
					

			li
				margin-right: 8px
				display: inline
				font-family: roboto_bold
				font-size: 17px
				
				.liusername
					color: #000

				a
					color: #000
					text-decoration: none

				a:hover
					text-decoration: underline

	.gl_main
		grid-area: glmain


		.gl_main_metro
			position: relative
			width: 100%
			height: 100%
			overflow: auto
			-webkit-overflow-scrolling: touch

			/* ЦИФРЫ НА СТАНЦИЯХ */

			.ckomen
				position: absolute
				top: 11.9px
				left: 259.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.cstder
				position: absolute
				top: 44px
				left: 259.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.ckrostr
				position: absolute
				top: 78px
				left: 259.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.cchkal
				position: absolute
				top: 112px
				left: 259.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.csport
				position: absolute
				top: 145px
				left: 259.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.admiralt
				position: absolute
				top: 377.9px
				left: 259.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.sadov
				position: absolute
				top: 445px
				left: 324.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.zvenigorod
				position: absolute
				top: 533px
				left: 414.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.obvkan
				position: absolute
				top: 583px
				left: 463px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.volkov
				position: absolute
				top: 615px
				left: 494.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.buhare
				position: absolute
				top: 646.5px
				left: 525.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none
			.mezhdun
				position: absolute
				top: 680px
				left: 559.5px
				font-family: roboto_bold
				font-size: 18px
				color: #fff
				user-select: none


			/* Конец ЦИФРЫ НА СТАНЦИЯХ */

			.textonimg
				position: absolute
				top: 0
				left: 0
				z-index: 50
			
			.underline
				position: absolute
				top: 0
				left: 0

	


/* HOW BLOCK ________________ */

.how_block
	width: 100%
	height: 100vh
	display: grid
	grid-template-areas: "headerq" "mainq"
	grid-template-columns: 100%
	grid-template-rows: 10% 90%

	.how_block_header
		grid-area: headerq
		box-shadow: 0px 2px 20px -5px #000000

		.how_block_header_text
			margin-top: 2%
			width: 100%
			height: 100%
			text-align: right
			overflow: auto

			.menushka
				position: absolute
				top: 25px
				right: 0
				width: 100%
				height: auto
				background-color: #f7f7f7
				text-align: right
				opacity: 0.9
				z-index: 1000
				border-bottom: 1.4px solid silver
				
				ul

					li
						font-family: roboto_bold
						display: block
						font-size: calc(1vw*5)
						width: 100%

						a
			
			li
				margin-right: 8px
				display: inline
				font-family: roboto_bold
				font-size: 17px

				a
					color: #000
					text-decoration: none

				a:hover
					text-decoration: underline

	.how_block_main
		grid-area: mainq

		background-image: url('../img/bck.jpg')
		background-size: cover

		.how_block_main_text
			height: 100%
			width: 100%
			max-width: 400px
			overflow: auto

			h2
				padding: 10px
				font-family: roboto_bold
				color: #fff

			p
				padding: 10px
				font-family: roboto_bold
				color: #fff
			
			h1
				color: #fff
				text-align: center

			button:hover
				background-color: #000
				color: #fff
				font-size: 18px
				border: 2px solid #fff
				width: 300px
				height: 50px
				font-family: roboto_bold

			button
				background-color: #fff
				color: #000
				font-size: 18px
				border: 2px solid #000
				width: 300px
				height: 50px
				font-family: roboto_bold


/* TOGGLE INFO _________ */

.toggleinfo
	display: none
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100vh
	background-color: #fff
	z-index: 100

	.toggleinfo_block
		width: 100%
		height: 88vh

		display: grid
		grid-template-areas: "hide" "station" "input" "info"  
		grid-template-rows: 10% 10% 10% 70%
		grid-template-columns: 100%

		.toggleinfo_stantion
			box-shadow: 0px 4px 10px -5px #000000
			grid-area: station
			font-family: roboto_regular

			text-align: center

			.toggleinfo_stantion_text
				left: 0
				bottom: 0
				font-size: 20px

		.toggleinfo_info
			width: 100%
			height: 100%
			grid-area: info

			.toggleinfo_info_text
				word-wrap: break-word
				width: 100%
				margin-left: auto
				margin-right: auto
				height: 100%
				font-size: 18px
				overflow: auto

				p
					margin-left: 8px
					margin-bottom: 12px
					margin-top: 8px
					font-family: roboto_regular

				

		.toggleinfo_input
			box-shadow: 0px -2px 10px -5px #000000
			grid-area: input
			text-align: center

			.toggleinfo_input_text
				margin-top: 8px
				.comment
					width: 150px

				.allarm
					width: 75px

					form
						border: $bor1

			button
				width: 60px
				height: 30px
				border: none
				font-size: 20px

			input
				height: 31px
				font-size: 16px



		.toggleinfo_hide
			position: relative
			grid-area: hide
			width: 100px
			margin-left: auto
			margin-right: auto
			margin-top: 12px

			button

				position: absolute
				bottom: 0
				left: 0
				width: 100px
				height: 100%
				border: none
				background-color: #fff
				background-image: url('../img/toggle.png')
				background-size: contain
				background-repeat: no-repeat
				background-position: center




